.foot {
    background-color: rgb(46, 156, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.legal {
    font-size: 14px;
}

.copy {
    font-size: 14px;
}