<div  class="boutonDiv" 
[ngStyle.md]="{'width.%': 80, 'height.em': 6, 'margin-left.%': 5,  'flex-direction': column}"
[ngStyle.sm]="{'width.%': 100, 'height.em': 10, 'margin.%': 0, 'flex-direction': column, 'margin-left.em': 0}" 
[ngStyle.xs]="{'width.%': 100, 'height.em': 12, 'margin.%': 0, 'flex-direction': column}"
>

<!-- (click)="afficherAjoutComponent()" -->
    <button  class="bouton" routerLink="create"
    [ngStyle.md]="{'width.%': 30, 'height.em': 5, 'margin-left.%': 1, 'margin.%': 1}"
    [ngStyle.sm]="{'width.%': 80, 'height.em': 4, 'margin.%': 1, 'border-radius': 0}" 
    [ngStyle.xs]="{'width.%': 80, 'height.em': 4, 'margin.%': 0, 'border-radius': 0}">
      <p class="texte" fxHide.xs>Ajouter un agent</p>
      <mat-icon class="icon" aria-label="Icon plus pour ajouter un agent" >add_circle</mat-icon>
    </button>
</div>

<div class="container"  [ngStyle.md]="{'justify-content': center}">

  <mat-card class="coteGauche"
  [ngStyle.lg]="{'margin-top.em': 1}"
  [ngStyle.md]="{'width.%': 80, 'height.em': 14, 'margin-left.em': 0, 'margin-bottom': 0.5}"
  [ngStyle.sm]="{'width.%': 100, 'height.em': 14, 'margin-left.em': 0, 'margin-bottom': 0.5}" 
  [ngStyle.xs]="{'width.%': 100, 'height.em': 14, 'margin-left.em': 0, 'margin-bottom': 0.5}">


              
                <!--Filtre pour recherche agent -->
                <mat-form-field>
                  <input matInput (keyup)="filtrerTableau($event.target.value)" placeholder="Recherche d'un agent">
                </mat-form-field>
                <!-- Affichage tableau des agents -->
                <mat-table [dataSource]="dataList" matSort>
                    
                  <ng-container matColumnDef ="nom">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Nom</strong></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.nom | uppercase}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef ="prenom">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.prenom}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef ="grade">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Grade</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.grade}}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="colonnes"></mat-header-row>
                    <mat-row *matRowDef="let row; columns:colonnes" ></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]=5 [pageSizeOptions]="[5,10,20]" [showFirstLastButtons]="true" >
                </mat-paginator>
              </mat-card>


<!--coté droit-->
    <!--RouterLinkCHild sur les 3 composants : rechercheAvancée, détail, ajout-->
      <mat-card class="coteDroit"
      [ngStyle.md]="{'width.%': 80, 'height.%': auto, 'margin-bottom': 0.5}"
      [ngStyle.sm]="{'width.%': 100, 'height.em': 30, 'margin-bottom': 0.5}" 
      [ngStyle.xs]="{'width.%': 100, 'height.em': 30, 'margin-bottom': 0.5}">

        <router-outlet></router-outlet>
        
      </mat-card>


</div>



