<div class="container" 
[ngStyle.md]="{'width.em': 50, 'height.em': 60}"
[ngStyle.sm]="{'width.em': 40, 'height.em': 60}" 
[ngStyle.xs]="{'width.em': 30, 'height.em': 60}">

    <div class="titre"
    [ngStyle.md]="{'width.em': 50, 'height.em': 4}"
    [ngStyle.sm]="{'width.em': 40, 'height.em': 4}" 
    [ngStyle.xs]="{'width.em': 30, 'height.em': 4}">
        <h1>Création d'un agent</h1>
    </div>

    <form #formCreate (ngSubmit)="onSubmit(formCreate)" class="formulaire"
    [ngStyle.md]="{'width.em': 50, 'height.em': 66}"
    [ngStyle.sm]="{'width.em': 40, 'height.em': 56}" 
    [ngStyle.xs]="{'width.em': 30, 'height.em': 66}">

        <div class="ligne1" 
        fxLayout.sm="column"
        fxLayout.xs="column">
                <div class="coteGauche"
                fxLayout="column"
                fxLayout.sm="row"
                fxLayout.xs="row"
                [ngStyle.sm]="{'width.%': 100, 'height.em': 15}" 
                [ngStyle.xs]="{'width.%': 100, 'height.em': 15}"> 
  
                  <!--Nom-->
                  <div class="pseudo">
                    <mat-form-field>
                        <input matInput type="text" name="nom" placeholder="Nom" 
                        [(ngModel)]="agent.nom"> 
                    </mat-form-field>
                  </div>
                 
                    <!--Prénom-->
                  <div class="prenom">
                    <mat-form-field>
                        <input matInput type="text" name="prenom" placeholder="Prénom" 
                        [(ngModel)]="agent.prenom"> 
                    </mat-form-field>
                  </div>
                </div>
              
                <div class="coteDroit"
                fxLayout="column"
                [ngStyle.sm]="{'width.%': 100, 'height.em': 25}" 
                [ngStyle.xs]="{'width.%': 100, 'height.em': 25}">

                  <!--Grade-->
                  <div class="grade">
                    <mat-form-field>
                        <input matInput type="text" name="grade" placeholder="Grade" 
                        [(ngModel)]="agent.grade"> 
                    </mat-form-field>
                  </div>
       
                </div>
       </div>
      
       <div class="ligne3">
            <button   
            [ngStyle.sm]="{'width.%': 40, 'height.em': 4, 'border-radius.%': 0}" 
            [ngStyle.xs]="{'width.%': 40, 'height.em': 4, 'border-radius.%': 0}" 
            type="submit">Annuler</button>

            <button  
            [ngStyle.sm]="{'width.%': 40, 'height.em': 4, 'border-radius.%': 0}" 
            [ngStyle.xs]="{'width.%': 40, 'height.em': 4, 'border-radius.%': 0}" 
            type="submit">Soumettre</button>
        </div>
      </form>
</div>

