<div class="container" 
  [ngStyle.md]="{'width.em': 50, 'height.em': 60}"
  [ngStyle.sm]="{'width.em': 40, 'height.em': 60}" 
  [ngStyle.xs]="{'width.em': 30, 'height.em': 60}">

  <!-- Titre dynamique selon qu'il ségait d'une édition ou une création -->
  <div class="titre"
    [ngStyle.md]="{'width.em': 50, 'height.em': 4}"
    [ngStyle.sm]="{'width.em': 40, 'height.em': 4}" 
    [ngStyle.xs]="{'width.em': 30, 'height.em': 4}">
    <h1> {{ editing? 'Edition de véhicule' : 'Création de véhicule'}}</h1>
  </div>

  <!-- Forumlaire -->
  <form #formCreate (ngSubmit)="onSubmit(formCreate)" class="formulaire"
    [ngStyle.md]="{'width.em': 50, 'height.em': 66}"
    [ngStyle.sm]="{'width.em': 40, 'height.em': 56}" 
    [ngStyle.xs]="{'width.em': 30, 'height.em': 66}">

    <div class="ligne1" 
      fxLayout.sm="column"
      fxLayout.xs="column">
      
      <!-- Coté gauche du formulaire -->
      <div class="coteGauche" 
        fxLayout="column"
        fxLayout.sm="row"
        fxLayout.xs="row"
        [ngStyle.sm]="{'width.%': 100, 'height.em': 15}" 
        [ngStyle.xs]="{'width.%': 100, 'height.em': 15}"> 

        <mat-form-field>
          <!-- Liste déroulante des types de véhicules -->
          <mat-select name = "type" placeholder = "Type de véhicule"
            [(ngModel)]="vehicule.type" required>
            <mat-option *ngFor="let type of listTypeVehicule" [value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="vehicule.modele"
            placeholder = "Modèle du véhicule"
            name = "modele" type = "text">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="vehicule.couleur"
            placeholder = "Couleur du véhicule"
            name = "couleur" type = "text">
        </mat-form-field>
      
      </div>
      
      <!--Coté droit du formulaire -->
      <div class="coteDroit"
        fxLayout="column"
        [ngStyle.sm]="{'width.%': 100, 'height.em': 25}" 
        [ngStyle.xs]="{'width.%': 100, 'height.em': 25}">
    
        <mat-form-field>
          <input matInput [(ngModel)]="vehicule.marque"
            placeholder = "Marque du véhicule"
            name = "marque" type = "text">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="vehicule.immatriculation" required
          placeholder = "Immatriculation du véhicule"
          name = "immatriculation" type = "text">
        </mat-form-field>

      </div>
    </div>

    <div class="ligne3">

      <!-- Bouton d'annulation de l'opération en cours -->
      <button   
        [ngStyle.sm]="{'width.%': 40, 'height.em': 4, 'border-radius.%': 0}" 
        [ngStyle.xs]="{'width.%': 40, 'height.em': 4, 'border-radius.%': 0}" 
        type="submit">Annuler
      </button>

      <!-- Bouton au nom dynamique de l'opération en cours -->
      <button  
        [ngStyle.sm]="{'width.%': 40, 'height.em': 4, 'border-radius.%': 0}" 
        [ngStyle.xs]="{'width.%': 40, 'height.em': 4, 'border-radius.%': 0}" 
        type="submit">{{ editing? 'Mettre à jour' : 'Créer'}}
      </button>
    </div>
  </form>
</div>
